:root{
    --primary-color : #2ec4b6 ; /*Turquoise*/
    --secondary-color : #333333 ; /*Dark gray*/
    --accent-color : #ffbf69 ; /*Light Orange*/
    --background-tint : #cbf3f0  ; /*Pale blue*/
    --neutral-color : #ffffff ; /*White*/
    --heading-font : Arial, Helvetica, sans-seri ;
    --text-font : Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Primary-font);
    color: #333333 ;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img{
    width: 110px;
    height: 110px;
}

nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-top: 20px;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--background-tint);
    border: 1px solid var(--primary-color);
    padding: 10px;
}

header, main, footer{
    width: 900px ;
    margin: 0 auto;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif ;
    color: var(--secondary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero h1{
    position: absolute;
    color: var(--neutral-color);
    text-align: center;
    left: 40%;
}

h2{
    text-align: center;
}

article{
    position: absolute;
    top: 30%;
    color: var(--neutral-color);
}

.hero article img{
    width: 130px;
    height: auto;
    float: right;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.history{
    display: grid;
    grid-template-columns: auto auto auto;
}

.text1{
    grid-column: 1/2;
}

.history img{
    padding: 10px;
    width: 300px;
    height: auto;
    grid-column: 2/3;
}

.text2{
    grid-column: 3/4;
}

.title{
    grid-column: span 3;
    align-items: center;
}

.Adventure{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 7px;
    justify-content: center;
}

figcaption{
    text-align: center;
}

.heading{
    grid-column: span 5;
}

footer{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    background-color: var(--secondary-color);
}

footer p{
    color: var(--background-tint);
}

/*Styling Contact Us page*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.employees{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 0 auto;
    column-gap: 20px;
}

.employees h2{
    margin-bottom: 10px;
}
.contact h1{
    color: black;
    text-align: center;
    margin-top: 0;
}

.contact p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

form{
    background-color: lightsteelblue;
    padding: 15px;
    border-radius: 5px;
    display: grid;
}

input[type="checkbox"]{
    width: 40px;
    height: 18px;
    vertical-align: bottom ;
    margin-top: 10px;
}

input[type="text"],
input[type="email"]{
    height: 30px;
}

textarea{
    margin-top: 0;
}

button{
    border-radius: 5px;
    font-size: medium;
}

.form-item1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.some{
    display: grid;
}

.form-item{
    display: grid;
    justify-content: center;
}

.c1 {
  grid-template-columns: 1fr 2fr;
   margin-top: 5px;
}