:root{
    --primary-color : #2ec4b6 ; /*Turquoise*/
    --secondary-color : #333333 ; /*Dark gray*/
    --accent-color : #ffbf69 ; /*Light Orange*/
    --background-tint : #cbf3f0  ; /*Pale blue*/
    --neutral-color : #ffffff ; /*White*/
    --colour6 : #d6b426 ;
    --heading-font : Arial, Helvetica, sans-seri ;
    --text-font : Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Primary-font);
    color: #333333 ;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--secondary-color);
}

header img{
    width: 110px;
    height: 110px;
    margin-left: 100px;
}

nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-top: 20px;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--background-tint);
    border: 1px solid var(--primary-color);
    padding: 10px;
}

header, main, footer{
    width: 1100px ;
    margin: 0 auto;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif ;
    color: var(--secondary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero h1{
    position: absolute;
    color: var(--background-tint);
    text-align: center;
    left: 40%;
    top: 5%;
    font-family: fantasy ;
}

h2{
    text-align: center;
    margin-bottom: 27px;
}

.hero article{
    position: absolute;
    top: 12%;
    color: var(--neutral-color);
    background-color: var(--colour6);
}

.hero article p{
    color: black;
}

.hero article img{
    width: 130px;
    height: auto;
    float: right;
}

.hero img, .home img{
    display: block;
    width: 100%;
    height: auto;
}

.history{
    display: grid;
    grid-template-columns: auto auto auto;
}

.text1{
    grid-column: 1/2;
}

.history img{
    padding: 10px;
    width: 300px;
    height: auto;
    grid-column: 2/3;
}

.text2{
    grid-column: 3/4;
}

.title{
    grid-column: span 3;
    align-items: center;
}

.Adventure{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
}

figcaption{
    text-align: center;
}

.heading{
    grid-column: span 5;
}

footer{
    display: flex;
    justify-content: flex-end;
    gap: 150px;
    background-color: var(--secondary-color);
}

footer p{
    color: var(--background-tint);
}

/*Styling Contact Us page*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.employees{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 0 auto;
    column-gap: 20px;
}

.employees h2{
    margin-bottom: 10px;
}
.contact h1{
    color: var(--secondary-color);
    text-align: center;
    margin-top: 0;
    font-family: fantasy ;
}

.contact p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

form{
    background-color: var(--accent-color);
    padding: 15px;
    border-radius: 5px;
    display: grid;
}

input[type="checkbox"]{
    width: 40px;
    height: 18px;
    vertical-align: bottom ;
    margin-top: 10px;
}

input[type="text"],
input[type="email"]{
    height: 30px;
}

textarea{
    margin-top: 0;
}

button{
    border-radius: 5px;
    font-size: medium;
}

.form-item1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.some{
    display: grid;
}

.form-item{
    display: grid;
    justify-content: center;
}

.c1 {
  grid-template-columns: 1fr 2fr;
   margin-top: 5px;
}

/* Styling Home Page */
.home img{
    position: relative;
    filter: blur(1px);
}

.home h3, .home p{
    position: absolute;
    top: 20%;
   color: var(--neutral-color);
   font-size: 1.5rem;
}

.home-btn button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.box .c1 input{
    margin-right: 100px;
}

form h1{
    margin-bottom: 20px;
    font-family: fantasy ;
}

.btn{
    border: 3px solid var(--primary-color);
    padding: 10px;
    text-decoration: none;
    color: var(--background-tint);
    background-color: var(--secondary-color);
}

.cta{
    text-align: center;
}

.image-grid{
    display: grid;
    grid-template-columns: auto auto auto ;
}

.image-grid p{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: large;
}

.g1{
    grid-column: 1/2;
}

.g3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.g2{
    grid-column: 2/3;
}

/* Styling trip pages */
table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid var(--secondary-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

th,
td {
  border: 1px solid var(--secondary-color);
  padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: var(--background-tint);
}

.cta{
    grid-column: span 2;
}

.cta h1{
    font-family: fantasy ;
}

.trip-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.table{
    grid-column: span 2;
}

.table h2{
    margin-top: 10px;
}

.trip-cont3{
    grid-column: span 2;
    text-align: center;
}