:root{
    --Colour1:  #fefae0;
    --Colour2: black;
}

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

body{
    background-color: var(--Colour1);
}

nav{
    display: flex;
    background-color: #4a4a4a;
    padding: 10px;
    color: var(--Colour1);
}

nav a{
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: large;
}

h1{
    color: black;
    border-bottom: solid 1px #d4a373;
}

aside h2{
    color: black;
    position: absolute;
    top: 25;
    left: 25;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid #e9edc9;
    box-shadow: 0 0 30px #4a4a4a;
    float: right;
}

p{
    padding : 5px;
    color: #4a4a4a;
    font-size: 1.1rem;
}

aside{
    padding-top: 2px;
    background-color: #faedcd;
    color: var(--Colour2);
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
}

main{
    padding: 10px;
    grid-column: 2/3;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    border-top: 1px solid #d4a373;
    text-align: center;
}

/* Class selectors */
.box{
    margin: 1rem ;
    padding: 1rem ;
    border: 1px solid #d4a373;
    clear: both;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

