:root{
    --Colour1:  #fefae0;
    --Colour2: black;
}

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

body{
    background-color: var(--Colour1);
}

nav{
    background-color: #ccd5ae;
    padding: 10px;
    color: var(--Colour1);
}

nav a{
    color: white;
    display: block;
    padding: 5px;
}

main, aside{
    max-width: 1440px;
    padding: 2rem;
}

h1{
    color: #d4a373;
}

aside h2{
    color: #d4a373;
    position: absolute;
    top: 25;
    left: 25;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid #e9edc9;
    box-shadow: 0 0 30px #4a4a4a;
    float: right;
}

p{
    padding : 5px;
    color: #4a4a4a;
    font-size: 1.1rem;
}

aside{
    padding-top: 2px;
    width: 1440px;
    background-color: #faedcd;
    color: var(--Colour2);
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    border-top: 1px solid var(--Colour1);
    text-align: center;
}

/* Class selectors */
.box{
    margin: 1rem ;
    padding: 1rem ;
    border: 1px solid #d4a373;
    clear: both;
}

