:root{
    --Colour1: darkblue;
    --Colour2: black;
}

nav{
    background-color: var(--Colour1);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: 1440px;
}

h1{
    color: var(--Colour1);
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--Colour2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding : 0;
}

aside{
    width: 1440px;
    margin: auto;
    border: 1px solid #cae9ff;
    padding: 10px ;
    background-color: #bbd0ff;
    color: var(--Colour2);
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 10px;
    border-top: 1px solid var(--Colour2);
    text-align: center;
}